{% extends 'base.html.twig' %}

{% block title %} Accès refusé {% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-5">Accès refusé</h1>
                        <p class="card-text">Désolé, vous n'êtes pas autorisé à accéder à cette page. Veuillez vous connecter avec un compte ayant les autorisations appropriées ou contacter l'administrateur système si vous pensez qu'il s'agit d'une erreur.</p>
                        <div class="text-center mt-5">
                            <a href="{{ path('accueil') }}" class="btn btn-primary">Retour à l'accueil</a>
                            <a href="mailto:support@example.com" class="btn btn-secondary">Contacter le support technique</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
{% endblock %}